<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271558666889-lujfsr8gv8r1meli25jvpek2sss0o00r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271558666889-lujfsr8gv8r1meli25jvpek2sss0o00r</string>
	<key>API_KEY</key>
	<string>AIzaSyBV-59dXq-ji0fDZL8EWuidy11COHKsQCI</string>
	<key>GCM_SENDER_ID</key>
	<string>271558666889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryo-application.basicApp</string>
	<key>PROJECT_ID</key>
	<string>basicapp-dfe1e</string>
	<key>STORAGE_BUCKET</key>
	<string>basicapp-dfe1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271558666889:ios:2bb8998200c3a854</string>
	<key>DATABASE_URL</key>
	<string>https://basicapp-dfe1e.firebaseio.com</string>
</dict>
</plist>